@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

@import 'media';

.header{
    padding: 45px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 30px;
    }
    &__list-link{
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        color: #436372;
        transition: all 0.3s ease 0s;
        &:hover{
            text-decoration: underline;
        }
    }
}
.user-nav{
    display: flex;
    align-items: center;
    &__link-search{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $btn;
    }
}
.group-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    width: 178px;
    height: 51px;
    border-radius: 26px;
    background-color: #fcd7b6;
    &__link{
        position: relative;
    }
    &__num{
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
        top: -7px;
        right: -8px;
        font-size: 10px;
        line-height: 16px;
        padding-left: 2px;
        text-align: center;
        @extend %dmsans-400;
        color: $bg-text;
    }
    &__line{
        margin: 0 27px 0 30px;
        opacity: 0.4;
        width: 1px;
        height: 32px;
        background-color: #ffffff;
    }
}
.footer{
    color: $footer;
    font-size: 14px;
    line-height: 22px;
    @extend %rubik-400;
}
.footer-top{
    padding: 80px 0 75px;
    border-bottom: 1px solid #dae4e9;
    display: flex;
    &__items{
        width: 200px;
        margin-right: 100px;
    }
    &__item-form{
        max-width: 270px;
        margin-right: 0px;
    }
    &__logo{
        display: block;
        margin-bottom: 28px;
    }
    &__subtitle{
        color: $footer;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 28px;
        @extend %rubik-400;
    }
    &__title{
        padding-top: 20px;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: #1f2044;
        @extend %dmsans-700;
        margin-bottom: 25px;
    }
    &__item{
        margin-bottom: 16px;
    }
    &__link:hover{
        text-decoration: underline;
    }
    &__text{
        margin-bottom: 30px;
    }
    &__form{
        display: flex;
    }
    &__form-input{
        background-color: $bg;
        max-width: 170px;
        width: 100%;
        border: none;
        padding: 12px 10px 12px 20px;
        &::placeholder{
            color: #234969;
            font-size: 12px;
            @extend %dmsans-500;
        }
    }
    &__form-btn{
        width: 100px;
        padding: 16px 12px;
        background-color: $btn;
        border: none;
        cursor: pointer;
        color: #fff;
        font-size: 14px;
        @extend %dmsans-500;
    }
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    &__menu{
        display: flex;

    }
    &__menu-item{
        padding-left: 15px;
        position: relative;
     }
    &__menu-item:not(:last-child){
        padding-right: 15px;
    }
    &__menu-item:not(:last-child)::after{
        content: '|';
        position: absolute;
        right: 0;
    }
}


.top-slider{
    background-color: #fcd7b6;
    &__inner{
        max-width: 1430px;
        margin: 0 auto;
        padding: 100px 15px 45px 130px;
    }
    &__item{
        display: flex !important;
        justify-content: space-between;
    }
    &__title{
        @extend %rubik-500;
        color: $bg-text;
        font-size: 72px;
        line-height: 70px;
        margin: 120px 0 40px;
    }
    &__text{
        max-width: 365px;
        @extend %rubik-400;
        font-size: 18px;
        line-height: 30px;
        color: #436372;
        margin-bottom: 35px;
    }
    &__link{
        display: block;
        position: relative;
        width: 200px;
        height: 60px;
        background-color: $btn;
        @extend %rubik-500;
        color:#fff;
        font-size: 15px;
        line-height: 12px;
        padding: 25px 20px 25px 27px;
    }
    &__link::after{
        content: '';
        position: absolute;
        background-image: url('../images/icons/arrow-white.svg');
        width: 22px;
        height: 9px;
        right: 20px;
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        margin-left: -150px;
        li{
            padding: 0 5px;
            line-height: 0;
            button{
                padding: 0;
                font-size: 11px;
                line-height: 9px;
                color: $bg-text;
                @extend %rubik-500;
                background-color: 'fff';
                opacity: 0.302;
                width: 29px;
                height: 29px;
                border-radius: 50%;
                border: none;
                position: relative;
            }
            &.slick-active{
                button{
                    opacity: 1;
                }
            }
        }
    }
}
.info{
    background-color: $bg;
    display: flex;
    justify-content: space-around;
    padding: 45px 0;
    &__item{
        display: flex;
        align-items: flex-start;
    }
    &__item-icon{
        margin-right: 25px;
    }
    &__item-content{
        width: 215px;
    }
    &__item-title{
        font-size: 18px;
        line-height: 1;
        color: #414141;
        @extend %dmsans-700;
        margin-bottom: 12px;
    }
    &__item-text{
        font-size: 16px;
        line-height: 30px;
        color: #585858;
        @extend %dmsans-400;
    }
}